<button type="button" class="btn-primary" (click)="makeCall()">Show Table</button> 
<table class="table table-dark">
    <thead>
    <tr> 
        
       <th scope="col">Exchange Date</th>
      <th scope="col">Rate</th>
      <th scope="col">Currency</th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let response of responses">
        
       <td>
        {{ response.exchangedate }}
      </td>
      <td>{{ response.rate }}</td>
      <td>{{ response.cc }}</td>
    </tr>
    </tbody>
  </table> 

  <app-my-chart [dataResponse]="responses"></app-my-chart>
