<button type="button" class="btn-primary" (click)="makeCall()">Show Table</button> 
<div class="container">
  <div class="row">
    <div class="col-6">
    <table class="table table-bordered table-sm">
      <thead >
      <tr>
        <th scope="col">Exchange Date</th>
        <th scope="col">Rate</th>
        <th scope="col">Currency</th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let response of responses">
          
        <td>
          {{ response.exchangedate }}
        </td>
        <td>{{ response.rate }}</td>
        <td>{{ response.cc }}</td>
      </tr>
      </tbody>
    </table> 
  </div>
  <div class="col-5">
    <app-chart [dataResponse]="responses"></app-chart>
  </div>
  </div>
</div>
